/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss";
@source "../css";
@source "../js";
@source "../../lib/soccer_reflection_coach_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */

@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(0.98 0.01 260);
  --color-base-300: oklch(0.95 0.02 260);
  --color-base-content: oklch(0.25 0.12 265);
  --color-primary: oklch(0.25 0.12 265);
  --color-primary-content: oklch(1 0 0);
  --color-primary-focus: oklch(0.2 0.1 265);
  --color-secondary: oklch(0.55 0.2 255);
  --color-scondary-focus: oklch(0.5 0.18 255);
  --color-secondary-content: oklch(1 0 0);
  --color-accent: oklch(0.75 0.18 80);
  --color-accent-content: oklch(1 0 0);
  --color-neutral: oklch(0.35 0.1 265);
  --color-neutral-content: oklch(1 0 0);
  --color-info: oklch(0.65 0.2 230);
  --color-info-content: oklch(1 0 0);
  --color-success: oklch(0.6 0.15 170);
  --color-success-content: oklch(1 0 0);
  --color-warning: oklch(0.7 0.18 80);
  --color-warning-content: oklch(0.15 0.05 265);
  --color-error: oklch(62.013% 0.208 28.717);
  --color-error-content: oklch(1 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

/* Make LiveView wrapper divs transparent for layout */
[data-phx-root-id] {
  display: contents;
}

/* This file is for your main application CSS */
